:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --white-smoke: #f5f5f5;
    --shadow: #b2b1b1;
    --active-img: #a48e16;
    --wishlistBg: #90ee90;
    --details: #716f6f;
    --selectBg: #9d9d9d;
    --searchBg: #333333;
    --more-btn: #92dcf7;
}